---
layout: page
title: Distributed Systems Group - QCRI
---

<h2 class="c-archives__title">Distributed Systems Group</h2>

<p>
QCRI's Distributed Systems group focuses on cloud infrastructure and large-scale cloud applications and services, specifically in the areas of sports and video.
</p>

<p>
One of the overarching themes of our research is efficient use of computing resources. To that end, we are developing algorithms that will allow resource-efficient shared computing for computationally intensive workloads, to prevent the wastage of billions of dollars in energy and infrastructure costs annually. Our goal to develop integrated resource management techniques that provide both near peak utilization and guaranteed high performance in shared environments.
 </p>

 <p>
Also feeding into the theme of efficient use of computing resources, we are working with our partners at MIT-CSAIL on developing elastic database systems. Such systems would be able to dynamically adjust the number of machines they use at any point in time in response to fluctuations in the workload. This is important since the peak workload in these systems is typically ten times the average, so sizing the system for peak workload results in extreme resource wastage.
 </p>

 <p>
We also develop algorithms for large scale distributed analysis of complex data. Our recent focus has been on graph data mining: finding interesting patterns in complex interconnected data, such as protein structures or social networks.
 </p>

 <p>
The large-scale cloud applications that we develop are relevant to industries in the region, including work with our media industry partners, Al Jazeera and BeIN Sports. We are developing new services and applications that can be efficiently offered through cloud environments, and are designing tools to allow the migration of traditional software applications and IT services to the cloud.
 
 <p>
The group is also conducting world-leading research into converting sports videos from 2D to 3D. As part of other research in image processing and manipulation, we have jointly developed a film-making technique that can recreate films and portraits in the style of different artists’ paintings. Another application area that we focus on is sports, where we have developed a football player scouting system based on data analysis.
</p>


<h2>Latest News</h2>

		<ul class="c-archives__list">
{% for item in site.posts  %}
	{% if forloop.index > 5 %}
		{% break %}
	{% endif %}
			<li class="c-archives__item">
				<h3>{{ item.date | date: "%b %-d, %Y" }} <a href="{{ item.url }}">{{ item.title }}</a></h3>
			</li>
{% endfor %}
		</ul>
		<p><a href="/news/">More ...</a></p>
