<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p><img src="/static/logo_hbku.jpg" height="200" width="200"></p>
    <p>
<a href="http://qcri.com" target="_blank">Qatar Computing Rerearch Institute</a></br></br>
<a href="http://www.hbku.edu.qa/" target="_blank">Hamad Bin Khalifah University</a></br></br>
HBKU - Reseach Complex</br></br>PO Box 5825</br></br>Qatar</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>
      </br></br></br>
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><img src="/static/github.png" height="25" width="30"></a>{% endif %}
      {% if site.facebookUsername %}<a href="https://www.facebook.com/{{ site.facebookUsername }}"><img src="/static/facebook.png" height="25" width="30"></a>{% endif %}
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><img src="/static/twitter.png" height="30" width="30"></a>{% endif %}
      {% if site.youtubeUsername %}<a href="http://www.youtube.com/user/{{ site.youtubeUsername }}"><img src="/static/youtube.png" height="22" width="30"></a>{% endif %}
      {% if site.linkedinUsername %}<a href="https://www.linkedin.com/company/{{ site.linkedinUsername }}"><img src="/static/linkedin.png" height="30" width="30"></a>{% endif %}
      {% if site.dribbbleUsername %}<a href="https://dribbble.com/{{ site.dribbbleUsername }}">Dribbble</a>{% endif %}
      {% if site.codepenUsername %}<a href="http://codepen.io/{{ site.codepenUsername }}">CodePen</a>{% endif %}
    </p>
  </div>
</footer>
