---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
      <div class="u-container">
	<h1 class="c-header__title">{{ page.title }}</h1>
	</br>
	</div>
</header>

<head>
<!--  Bootstrap core CSS -->
<link href="/static/people/bootstrap.css" rel="stylesheet" />
<link href="/static/people/font-awesome-4.6.1/css/font-awesome.css" rel="stylesheet" />
<link href="/static/people/main.css" rel="stylesheet" />
</head>

<body>

<!--  ==== TEAM MEMBERS ==== -->
<div id="team" name="team"><div class="container">
<div class="row centered"></div>
<div class="peopleSection">
<div class="row">
<div class="col-sm-3 centered top20">

<div><a href="/people/aaboulnaga"><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/ashraf.jpg" width="120px" /><h4><b>Ashraf Aboulnaga</b></h4></div><p>Research Director</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/mhefeeda"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/hefeeda.jpg" width="120px" /><h4><b>Mohamed Hefeeda</b></h4></a><p>Principal Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/xma"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/xma.jpg" width="120px" /><h4><b>Xiaosong Ma</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="col-sm-3 centered top20"><a href="/people/kharras"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/kharras.jpg" width="120px" /><h4><b>Khaled Harras</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/gsiganos"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/georgos.jpg" width="120px" /><h4><b>Georgos Siganos</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/rstanojevic"><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/rade.jpg" width="120px" /><h4><b>Rade Stanojevic</b></h4></div><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/oalrawi"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/omar.png" width="120px" /><h4><b>Omar Alrawi</b></h4></a><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="col-sm-3 centered top20"><a href="/people/lgyarmati"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/Laszlo.jpeg" width="120px" /><h4><b>Laszlo Gyarmati</b></h4></a><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>



<div class="col-sm-3 centered top20"><a href="/people/emansour"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/essam.jpg" width="120px" /><h4><b>Essam Mansour</b></h4></a><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/mzereba"><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/maged.jpg" width="120px" /><h4><b>Maged Zereba</b></h4></div><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/gmorales"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/gianmarco.png" width="120px" /><h4><b>Gianmarco De Francisci Morales</b></h4></a><p>Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
	
<div class="col-sm-3 centered top20"><a href="/people/mserafini"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/marco.jpg" width="120px" /><h4><b>Marco Serafini</b></h4></a><p>Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
<div class="col-sm-3 centered top20"><a href="/people/abghanem"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/abdo.jpg" width="120px" /><h4><b>Abdurrahman Ghanem</b></h4></a><p>Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/melgharib"><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/elgharib.jpg" width="120px" /><h4><b>Mohamed Elgharib</b></h4></div><p>Postdoctoral researcher</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/ahassanien"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/ahassanien.jpg" width="120px" /><h4><b>Ahmed Hassanien</b></h4></a><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
	
<div class="col-sm-3 centered top20"><a href="/people/ehussein"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/eslam.jpg" width="120px" /><h4><b>Eslam Hussein</b></h4></a><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
<div class="col-sm-3 centered top20"><a href="/people/anandoriya"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/small.png" width="120px" /><h4><b>Ajay Nandoriya</b></h4></a><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="row"><div class="col-sm-3 centered top20">

<div><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/small.png" width="120px" /><h4><b>Xu Ji</b></h4></div><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/atroudi"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/small.png" width="120px" /><h4><b>Anis Troudi</b></h4></a><p>Research Assistant</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
	

</div></div></div></div>


<!--  Bootstrap core JavaScript
    ================================================== -->
<!--  Placed at the end of the document so the pages load faster -->
</body></html>
