---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
      <div class="u-container">
	<h1 class="c-header__title">{{ page.title }}</h1>
	</br>
	</div>
</header>

<head>
<!--  Bootstrap core CSS -->
<link href="/static/people/bootstrap.css" rel="stylesheet" />
<link href="/static/people/font-awesome-4.6.1/css/font-awesome.css" rel="stylesheet" />
<link href="/static/people/main.css" rel="stylesheet" />
</head>

<body>

<!--  ==== TEAM MEMBERS ==== -->
<div id="team" name="team"><div class="container">
<div class="row centered"></div>
<div class="peopleSection">
<div class="row">
<div class="col-sm-3 centered top20">

<div><a href="/people/aaboulnaga"><img class="img img-circle" alt="thumbnail of Ashraf" height="120px" src="/static/people/img/aaboulnaga.jpg" width="120px" /><h4><b>Ashraf Aboulnaga</b></h4></a></div><p>Research Director</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a>
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<a href="qa.linkedin.com/in/aaboulnaga"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/mhefeeda"><img class="img img-circle" alt="thumbnail of Hefeeda" height="120px" src="/static/people/img/hefeeda.jpeg" width="120px" /><h4><b>Mohamed Hefeeda</b></h4></a><p>Principal Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/h/Hefeeda:Mohamed"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/mhefeeda"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/mhefeeda"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/mohamed-hefeeda-71a5445"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/xma"><img class="img img-circle" alt="thumbnail of Xiaosong" height="120px" src="/static/people/img/xma.jpg" width="120px" /><h4><b>Xiaosong Ma</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/m/Ma:Xiaosong"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<a href="https://www.linkedin.com/in/xiaosong-ma-8a61ba?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="col-sm-3 centered top20"><a href="/people/kharras"><img class="img img-circle" alt="thumbnail of Khaled" height="120px" src="/static/people/img/kharras.jpg" width="120px" /><h4><b>Khaled Harras</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/h/Harras:Khaled_A="><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<a href="https://www.linkedin.com/in/khaled-harras-5987063"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/gsiganos"><img class="img img-circle" alt="thumbnail of Georgos" height="120px" src="/static/people/img/georgos.jpg" width="120px" /><h4><b>Georgos Sigano</b></h4></a></div><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/s/Siganos:Georgos"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<a href="https://github.com/siganos"><i class="fa fa-github icon-color"></i></a>
<!--a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a!-->
</div>

<div class="col-sm-3 centered top20"><a href="/people/rstanojevic"><img class="img img-circle" alt="thumbnail of Rade" height="120px" src="/static/people/img/rade.jpg" width="120px" /><h4><b>Rade Stanojevic</b></h4></a><p>Senior Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/s/Stanojevic:Rade"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<!--a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a!-->
</div>

<div class="col-sm-3 centered top20"><a href="/people/oalrawi"><img class="img img-circle" alt="thumbnail of Omar" height="120px" src="/static/people/img/omar.png" width="120px" /><h4><b>Omar Alrawi</b></h4></a><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Alrawi:Omar"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/oalrawi"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/alrawi"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/oalrawi"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="col-sm-3 centered top20"><a href="/people/lgyarmati"><img class="img img-circle" alt="thumbnail of Tim" height="120px" src="/static/people/img/Laszlo.jpg" width="120px" /><h4><b>Laszlo Gyarmati</b></h4></a><p>Senior Software Engineer</p>
<a href=" http://dblp.uni-trier.de/pers/hd/g/Gyarmati:L=aacute=szl=oacute="><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/lgyar"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/lgyarmati"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/laszlogyarmati"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/emansour"><img class="img img-circle" alt="thumbnail of Essam" height="120px" src="/static/people/img/essam.jpg" width="120px" /><h4><b>Essam Mansour</b></h4></a></div><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/m/Mansour:Essam"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/dressam_mansour"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/mansoure"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/emansour"><i class="fa fa-linkedin icon-color"></i></a>
</div>


<div class="col-sm-3 centered top20"><a href="/people/mzereba"><img class="img img-circle" alt="thumbnail of Maged" height="120px" src="/static/people/img/maged.jpg" width="120px" /><h4><b>Maged Zereba</b></h4></a><p>Senior Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/z/Zereba:Maged"><span class="icon-color"> DBLP </span></a>
<!--a href="http://dblp.uni-trier.de/pers/hd/z/Zereba:Maged"><i class="fa fa-twitter icon-color"></i></a!-->
<a href="https://github.com/mzereba"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/mzereba"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/gmorales"><img class="img img-circle" alt="thumbnail of Gianmarco" height="120px" src="/static/people/img/gianmarco.jpg" width="120px" /><h4><b>Gianmarco De Francisci Morales</b></h4></a><p>Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/m/Morales:Gianmarco_De_Francisci"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<a href=" http://github.com/gdfm/"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/gianmarcodfm"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
	
<div class="col-sm-3 centered top20"><a href="/people/mserafini"><img class="img img-circle" alt="thumbnail of Marco" height="120px" src="/static/people/img/marco.jpg" width="120px" /><h4><b>Marco Serafini</b></h4></a><p>Scientist</p>
<a href="http://dblp.uni-trier.de/pers/hd/s/Serafini:Marco"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/marcoserafini"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/marcoserafini"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/marco-serafini-99163a2"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	

<div class="row"><div class="col-sm-3 centered top20">

<div><a href="/people/abghanem"><img class="img img-circle" alt="thumbnail of Abdu" height="120px" src="/static/people/img/abdo.jpg" width="120px" /><h4><b>Abdurrahman Ghanem</b></h4></a></div><p>Software Engineer</p>
<a href="http://dblp.uni-trier.de/pers/hd/g/Ghanem:Abdurrahman"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/ghanemabdo"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/ghanemabdo"><i class="fa fa-github icon-color"></i></a>
<a href="https://eg.linkedin.com/in/abdurrahman-ghanem-404019a"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/melgharib"><img class="img img-circle" alt="thumbnail of Mohamed" height="120px" src="/static/people/img/elgharib.jpg" width="120px" /><h4><b>Mohamed Elgharib</b></h4></a><p>Postdoctoral researcher</p>
<a href="http://dblp.uni-trier.de/pers/hd/e/Elgharib:Mohamed_A="><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<a href="https://www.linkedin.com/in/mohamed-elgharib-65a39a62"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="col-sm-3 centered top20"><a href="/people/ahassanien"><img class="img img-circle" alt="thumbnail of Ahmed" height="120px" src="/static/people/img/ahassanien.jpg" width="120px" /><h4><b>Ahmed Hassanien</b></h4></a><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<!--a href="https://github.com/ashrafaboulnaga"><i class="fa fa-github icon-color"></i></a!-->
<a href="https://de.linkedin.com/in/ahmed-mamdouh-58b3a823"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
	
<div class="col-sm-3 centered top20"><a href="/people/ehussein"><img class="img img-circle" alt="thumbnail of Eslam" height="120px" src="/static/people/img/eslam.jpg" width="120px" /><h4><b>Eslam Hussein</b></h4></a><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/h/Hassan:Eslam_Ali"><span class="icon-color"> DBLP </span></a>
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<a href="https://github.com/EslamAli86"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/eslam-ali-2954ba5"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
<div class="col-sm-3 centered top20"><a href="/people/anandoriya"><img class="img img-circle" alt="thumbnail of Ajay" height="120px" src="/static/people/img/ajay.jpg" width="120px" /><h4><b>Ajay Nandoriya</b></h4></a><p>Research Associate</p>
<!--a href="http://dblp.uni-trier.de/pers/hd/a/Aboulnaga:Ashraf"><span class="icon-color"> DBLP </span></a!-->
<!--a href="https://twitter.com/AshrafAboulnaga"><i class="fa fa-twitter icon-color"></i></a!-->
<a href="https://github.com/AjayNandoriya"><i class="fa fa-github icon-color"></i></a>
<a href="https://in.linkedin.com/in/ajaynandoriya"><i class="fa fa-linkedin icon-color"></i></a>
</div>

<div class="row"><div class="col-sm-3 centered top20">

<div><img class="img img-circle" alt="thumbnail of Xu" height="120px" src="/static/people/img/xu.jpg" width="120px" /><h4><b>Xu Ji</b></h4></a></div><p>Research Associate</p>
<a href="http://dblp.uni-trier.de/pers/hd/j/Ji:Xu"><span class="icon-color"> DBLP </span></a>
<a href="https://twitter.com/Sov_Matrix"><i class="fa fa-twitter icon-color"></i></a>
<a href="https://github.com/sovmatrixac"><i class="fa fa-github icon-color"></i></a>
<!--a href="https://www.linkedin.com/in/ashraf-aboulnaga-a2a5b7"><i class="fa fa-linkedin icon-color"></i></a!-->
</div>

<div class="col-sm-3 centered top20"><a href="/people/atroudi"><img class="img img-circle" alt="thumbnail of Anis" height="120px" src="/static/people/img/anis.jpg" width="120px" /><h4><b>Anis Troudi</b></h4></a><p>Research Assistant</p>
<a href="https://github.com/atroudi"><i class="fa fa-github icon-color"></i></a>
<a href="https://www.linkedin.com/in/anis-troudi-5395a068"><i class="fa fa-linkedin icon-color"></i></a>
</div>
	
<div class="row"><div class="col-sm-3 centered top20">
<div class="row"><div class="col-sm-3 centered top20">
	
<div>
<h2><b>Alumni</b></h2>
<ul>
<li>Simon Ponsford, Senior Scientist, CTO at Cloud Direct, 2/2013</li>
<li>Simon Guerrero, Senior Software Engineer, , 4/2013</li>
<li>Tarek El Gamal, Software Engineer, PhD Student, University of Illinois at Urbana-Champaign, 6//2015</li>
<li>Safdar Kureishy, Software Engineer, , 7/2013</li>
<li>Dr. Gokop Goteng,Postdoctoral researcher, PhD Cranfield University, UK, 3/2013</li>
<li>Dr. Maysam Yabandeh, ﻿﻿Postdoctoral researcher, , 8/2013</li>
<li>Kiana Calagari, Research Associate, ,</li>
<li>Tarek Elganainy, Research Associate, ,</li>
<li>Kareem El Gebaly, Research Associate, PhD Student in University of Waterloo, 11/2014</li>

<li>Ahmed El-Roby, Research Associate, PhD Student in University of Waterloo, 11/2014</li>
<li>Mingliang Liu, Research Associate, Amazon, Palo Alto - CA, 09/14</li>
<li>Khaled M. Diab, Research Associate, , 10/2013</li>
<li>Yehia Zakaria Rabei, Research Associate, , 6/2013</li>
</ul>
</div>	

<div class="row"><div class="col-sm-3 centered top20">
<div class="row"><div class="col-sm-3 centered top20">

</div></div></div></div>




<!--  Bootstrap core JavaScript
    ================================================== -->
<!--  Placed at the end of the document so the pages load faster -->
</body></html>
